.btn {
    border-radius: 5px !important;
}

#datePicker {
    width: 135px;
}

.list-item > div {
    display: inline;
}

#newOrderModal .list-item {
    margin-top: 20px;
}

#newOrderModal .list-item > label {
    margin-right: 30px;
}

#newOrderModal .modal-body .unit {
    padding-left: 0;
    line-height: 34px;
}