.btn {
    border-radius: 5px !important;
}

#datePicker {
    width: 135px;
}

.list-item > div {
    display: inline;
}

#new_order_modal .list-item {
    margin-top: 20px;
}

#new_order_modal .list-item > label {
    margin-right: 30px;
}

#new_order_modal .modal-body .unit {
    padding-left: 0;
    line-height: 34px;
}

.disabled-font {
    color: rgb(170, 170, 170);
}

#step2-body .batch-value {
    margin-top: 8px;
}

#order_list {
    padding-top: 10px;
}

.label-success {
    background-color: #5cb85c;
}