<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
        <div class="row">
            <div class="col-xs-8">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        百威啤酒
                    </a>
                </h4>
            </div>
            <div class="col-xs-4 text-right"><span class="label label-primary">批次生产中</span></div>
        </div>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">公司名称: 百威啤酒</li>
                <li class="list-group-item">过期时间: {{ expired_time }}</li>
                <li class="list-group-item">产品条码: {{ barcode }}</li>
                <li class="list-group-item">生产数量: {{ unit_count }}万瓶</li>
                <li class="list-group-item">内码赋码工厂: {{ inner_code_factory|default:'无' }}
                    {% if inner_code_factory %}
                    <span class="label label-success"> 已发送 <i class="fa fa-check" aria-hidden="true"></i></span>
                    {% endif %}
                </li>
                <li class="list-group-item">外码赋码工厂: {{ outer_code_factory|default:'无' }}
                    {% if outer_code_factory %}
                    <a>
                        <span class="label label-default"> 未发送 <i class="fa fa-paper-plane" aria-hidden="true"></i></span>
                    </a>
                    {% endif %}
                </li>
                <li class="list-group-item">箱码赋码工厂: {{ case_code_factory|default:'无' }}
                    {% if case_code_factory %}
                    <a>
                        <span class="label label-default"> 未发送 <i class="fa fa-paper-plane" aria-hidden="true"></i></span>
                    </a>
                    {% endif %}
                </li>
                <li class="list-group-item">激活工厂: {{ factory_id }}</li>
                <li class="list-group-item">产品信息: {{ prod_info }}</li>
            </ul>
        </div>
    </div>
</div>