<tr id="factory-{{ factory_id }}">
    <td>
        <button type="button" class="btn btn-info btn-xs update-factory" factory_id="{{ factory_id }}">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-danger btn-xs drop-factory" factory_id="{{ factory_id }}">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
    </td>
    <td class="td_factory_id">{{ factory_id }}</td>
    <td class="td_factory_name">{{ factory_name }}</td>
    {% if factory_type == 0 %}
        <td class="td_factory_type">啤酒厂</td>
    {% elif factory_type == 1 %}
        <td class="td_factory_type">瓶盖厂</td>
    {% elif factory_type == 2 %}
        <td class="td_factory_type">纸箱厂</td>
    {% elif factory_type == 3 %}
        <td class="td_factory_type">标签厂</td>
    {% elif factory_type == 4 %}
        <td class="td_factory_type">纪念商店</td>
    {% elif factory_type == -1 %}
        <td class="td_factory_type">本地下载</td>
    {% else %}
        <td class="td_factory_type">未知工厂类型</td>
    {% endif %}
    <td class="td_factory_ip">{{ factory_ip|default:'' }}</td>
    <td class="td_factory_region">{{ factory_region|default:'' }}</td>
    {% if factory_status == 1 %}
        <td class="td_factory_status">正常</td>
    {% elif factory_status == 0 %}
        <td class="td_factory_status">停产</td>
    {% else %}
        <td class="td_factory_status">异常状态</td>
    {% endif %}
    <td class="td_factory_owner">{{ factory_owner|default:'' }}</td>
    <td class="td_factory_owner_phone">{{ factory_owner_phone|default:'' }}</td>
    <td class="td_factory_owner_email">{{ factory_owner_email|default:'' }}</td>
</tr>