#my_tab_content {
    padding-left: 20px;
}

#company_info form {
    /*padding-top: 10px;*/
}

.info-detail {
    margin: 30px 0;
}

.base-label {
    font-size: 20px;
    font-weight: bolder;
    float: left;
    padding-right: 25px;
    text-align: right;
}

.type-label {
    float: left;
    padding-right: 25px;
    text-align: left;
    padding-left: 25px;
    font-size: 18px;
    font-weight: normal;
    margin-top: 4px;
}

.info-detail input {
    width: 15%;
    min-width: 100px;
    margin-right: 15px;
    display: inline;
}

.info-detail textarea {
    width: 80%;
}

.tab-footer {
    height: 100px;
}

.tab-footer button{
    float: right;
    margin-right: 20%;
}

#factory_info .table>tbody>tr:first-child {
    padding-right: 0;
}

#product_info .img-rounded {
    max-height: 22px;
}

#product_image_modal .modal-image {
    clear: both;
    display: block;
    margin: auto;
    width: 100%;
}

#product_info_modal .input-label {
    width: 100%;
}

#award_setting .prize {
    width: 100px;
    min-width: 100px;
}

#award_setting .proportion {
    margin-left: 15px;
    width: 100px;
    min-width: 100px;
}
