#my_tab_content {
    padding-left: 20px;
}

#company_info form {
    /*padding-top: 10px;*/
}

#company_info .company-info-detail {
    margin: 30px 0;
}

#company_info .company-label {
    font-size: 20px;
    font-weight: bolder;
    float: left;
    padding-right: 25px;
    text-align: right;
}

#company_info input {
    width: 15%;
    min-width: 50px;
}

#company_info textarea {
    width: 80%;
}

#company_info .tab-footer {
    height: 100px;
}

#company_info .tab-footer button{
    float: right;
    margin-right: 20%;
}

#award_setting form {
    margin: 30px 0;
}

#award_setting .award-setting-label {
    font-size: 20px;
    font-weight: bolder;
    float: left;
}

#award_setting .award-setting-label2 {
    font-size: 16px;
    font-weight: bold;
    float: left;
}

#award_setting .tab-footer {
    height: 100px;
}

#factory_info .table>tbody>tr:first-child {
    padding-right: 0;
}

#product_info .img-rounded {
    max-height: 22px;
}

#product_image_modal .modal-image {
    clear: both;
    display: block;
    margin: auto;
    width: 100%;
}

#product_info_modal .input-label {
    width: 100%;
}

